* {
  font-family: 'Roboto', sans-serif;
}

.body {
    margin: 0;
    height: 100%;
}

header {
    position: relative;
    background-color: white;
    border-bottom: 2px solid #0A3641;; 
    height: 120px;
    width: 100%;
}

header img {
    margin-top: 10px;
    height: 100px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header-left {
    float: left;
    position: absolute;
    margin-top: 70px;
    margin-left: 2%;
    
  }

.header-left a {
    color: black;
    text-align: center;
    padding: 30px;;
    text-decoration: none;
    font-size: 30px;
    border-radius: 4px;
    color: #0A3641;
}
  
.header-left a:hover {
    color: #255967;
}
  
.header a.active {
    background-color: dodgerblue;
    color: white;
}

#bag-icon {
  width: 32px;
  height: 32px;
  position: relative;
  top: 0px;
}

#bag-icon-header {
  width: 40px;
  height: 40px;
  position: relative;
  float: right;
  right: 30px;
  top: 50px;
}

.all-content {
    display: flex;
    flex-direction: row;
}

.left-content {
    height: 100vh;
    width: 50%;
    background-color: black; 
    position: relative;
}

.left-content img {
    max-height:100%; 
    min-width:100%;
    object-position: bottom;
    object-fit: cover;  
    opacity: 0.3; 
}

.left-content a {
    position: absolute;
    bottom: 45%;
    left: 30%;
    display: block;
    margin: 0 auto;
    height: 80px;
    width: 250px;
    border: 3px solid #0A3641;
    background-color: white;
    color: #0A3641;
    font-size: 2rem;
    text-align: center;
}

.left-content a:hover {
  background-color: rgba(255, 255, 255, 0.872);
  cursor: pointer;
}

.right-content {
    height: 100vh;
    width: 50%;
    background-color: black; 
    position: relative;
}

.right-content img{
    min-height:100%; 
    max-width:100%;
    object-position: right bottom;
    object-fit: cover;   
    opacity: 0.3;  
}

.right-content a {
  position: absolute;
  bottom: 45%;
  left: 30%;
  display: block;
  height: 80px;
  width: 250px;
  border: 3px solid #0A3641;
  background-color: white;
  color: #0A3641;
  font-size: 2rem;
  text-align: center;
}

.right-content a:hover {
  background-color: rgba(255, 255, 255, 0.872);
  cursor: pointer;
}

.all-content a {
  text-decoration: none;
}

.category {
  height: 40px;
  width: 100%;
  border-bottom: 2px solid #0A3641;
  text-decoration: none;
  text-align: center;
}

.category a {
  display: inline-block;
  width: 100px;
  height: 100%;
  background-color: white;
  border: none;
  font-size: 1.4rem;
  text-decoration: none;
  color: #0A3641;
}

.category a:hover {
  background-color: #0A3641;
  color: white;
  cursor: pointer;
}

.men-content {
  display: flex;
  flex-wrap: wrap;
}

.men-content div {
  width: 24%;
  box-sizing: border-box;
  height: 380px;
  background-color: #F6F6F6;
  margin: 0.5%;
  margin-top: 10px;
}

.men-content div img{
  height: 250px;
  background-color: #F6F6F6;
  margin-top: 10px;
}

.men-content div h4, p, h1 {
  margin: 5px;
  margin-left: 10px;
}

.men-content div h1 {
  font-size: 1.4rem;
}

.men-content div h4 {
  color: #D10000;
  font-size: 1.2rem;
  margin-top: 20px;
  float: right;
}

.men-content a {
  text-decoration: none;
}

.page-header {
  height: 30px;
  width: 100%;
  border-bottom: 2px solid #0A3641;
  text-align: center;
}

.page-header p {
  height: 100%;
  color: #0A3641;
  font-size: 1.2rem;
}

.all-content-product {
  display: flex;
  flex-direction: row;
}

.all-content-product div {
  width: 50%;
  height: 100vh;
}

.left-content-product img {
  height: 90%;
  position: relative;
  background-color: #F6F6F6;
  top: 5%;
}

.right-content-product h3, h4, p, h1 {
  position: relative;
  top: 3%;
  color:#0A3641;
}

.right-content-product h1 {
  font-size: 1.8rem;
}

.right-content-product .price {
  font-size: 1.8rem;
  color: #D10000;
}

.right-content-product .product-description {
  font-size: 1.2rem;
  width: 70%;
  margin-top: 5%;
}

select {
  width: 480px;
  margin-left: 10px;
  padding: 12px;
  font-size: 1.2rem;
  position: relative;
  top: 10%;
}

a {
  text-align: center;
}

.add-to-cart-btn {
  display: inline-block;
  width: 460px;
  margin-left: 10px;
  padding: 12px;
  background-color: #0A3641;
  color: white;
  top: 15%;
  position: relative;
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: none;
}

.all-content-checkout {
  display: flex;
  flex-direction: row;
}

.left-content-checkout {
  width: 60%;
  height: 300px;
  background-color: #F6F6F6;
  margin: 30px;
}

.right-content-checkout {
  background-color: #F6F6F6;
  height: 300px;
  margin: 30px;
  width: 40%;
}

.left-content-checkout img {
  height: 90%;
  position: relative;
  top: 5%;
  left: 5%;
}

.left-content-checkout div {
  position: relative;
  top: 5%;
  float: right;
  width: 400px;
}

.left-content-checkout .price {
  color: #D10000;
  font-size: 1.2rem;
  margin-top: 60px;
}

.left-content-checkout .product-name {
  font-size: 1.2rem;
}

.sum-header {
  font-size: 1.5rem;
  text-align: center;
}

.right-content-checkout p {
  font-size: 1.3rem;
}

.right-content-checkout .left {
  float: left;
  margin-left: 10px;
}

.right-content-checkout .right {
  float: right;
  margin-right: 10px;
}

.checkout-btn {
  display: inline-block;
  width: 85%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 12px;
  background-color: #0A3641;
  color: white;
  top: 6%;
  position: relative;
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: none;
}

.top-content {
  height: 200px;
  background-color: #0A3641;
}

.top-content img {
  height: 150px;
  filter: brightness(0) invert(1);
  position: relative;
  top: 25px;
}

.bottom-content {
  text-align: center;
  margin-top: 40px;
}

.bottom-content h1{
  font-size: 1.8rem;
  color: #0A3641;
}

.bottom-content p{
  font-size: 1.3rem;
  margin-top: 10px;
}

.continue-shopping-btn {
  display: inline-block;
  text-decoration: none;
  width: 30%;
  padding: 12px;
  margin-top: 20px;
  background-color: #0A3641;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.all-content-about-us {
  display: flex;
  flex-direction: row;
  position: relative;
}

.left-content-about-us {
  width: 35%;
  height: 100vh;
  background-color: black;
}

.left-content-about-us img {
  min-height:100%; 
  max-width:100%;
  opacity: 0.3;
  object-fit: cover;
}

.left-content-about-us h1{
  position: absolute;
  top: 8%;
  left: 5%;
  color: white;
}

.text2 {
  margin-left: 50px;
  margin-top: 50px;
}

.right-content-about-us {
  background-color: #F6F6F6;
  height: 100vh;
  width: 65%;
  text-align: center;
  color: #0A3641;
}

.right-content-about-us h1 {
  position: relative;
  top: 5%;
}

.right-content-about-us p{
  margin: 15%;
  text-align: center;
  padding: 20px;
  letter-spacing: 2px;
  font-size: 1.5rem;
}

.all-content-contact {
  display: flex;
  flex-direction: row;
  position: relative;
}

.left-content-contact {
  width: 35%;
  height: 100vh;
  background-color: black;
}

.right-content-contact {
  background-color: #F6F6F6;
  height: 100vh;
  width: 65%;
  text-align: center;
  color: #0A3641;
}

.right-content-contact h1 {
  position: relative;
  top: 5%;
}

.right-content-contact p {
  margin: 10%;
  text-align: center;
  padding: 20px;
  letter-spacing: 2px;
  font-size: 1.5rem;
}

.left-content-contact img {
  min-height:100%; 
  max-width: 100%;
  opacity: 0.3;
  object-fit: cover;
  object-position: center;
}

#hamburger-menu, #sidebar-menu, #hamburger-input {
  display: none;
}

.media-text {
  display: none;
}

h1.media-header {
  display: none;
}

/* CART */
.cart {
  /*height: 100%;
  width: 96%;
  border: 1px solid black;
  margin: 2%;
  padding: 20px;*/
  height: 100%;
  width: 100%;
  position: relative;
  margin-top: 100px;
} 

#hidden {
  visibility: hidden;
}

/* cart header */
.cart-header {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}
/* cart items */
.cart-items {
  max-height: calc(100vh - 247px);
  overflow-y: auto;
  overflow-x: hidden;
}
/* cart item */
.cart-item {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}
.cart-item div {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* item info */
.cart-item .item-info {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.6);

  border-radius: 0 10px 10px 0;

  padding: 10px;
}
.cart-item .item-info:hover {
  background-color: rgba(255, 0, 0, 0.6);
  cursor: pointer;
}
.cart-item .item-info img {
  width: 75px;
}
/* unit price */
.cart-item .unit-price {
  flex: 1;
  font-size: 1.2rem;
}
/* units */
.cart-item .units {
  flex: 1;
}
.cart-item .units .number {
  margin: 0 10px;

  font-size: 1.2rem;
}
.cart-item .units .btn {
  width: 20px;
  height: 20px;

  background-color: rgb(242, 255, 58);

  border-radius: 50%;

  font-weight: bold;

  cursor: pointer;
}

/* cart footer */
.cart-footer {
  width: 100%;
  background-color: rgb(255, 21, 21);
  position: absolute;
  bottom: 0;
  left: 0;
  border-left: 1px solid rgb(var(--right-side-bg-color));
}
.cart-footer div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  font-size: 1.3rem;
}
.cart-footer .subtotal {
  background-color: white;
}
.cart-footer .checkout {
  background-color: rgb(242, 255, 58);

  cursor: pointer;
}
  
  @media screen and (max-width: 600px) {

    .men-content {
      width: 100%;
    }

    .all-content {
        display: flex;
        flex-direction: column;
    }

    .left-content, .right-content {
      width: 100%;
      height: 50vh;
      text-align: center;
    }

    .left-content a, .right-content a{
      position: absolute;
      left: 15%;
      top: 35%;
    }

    .right-content img {
      max-height: 100%;
      min-width: 100%;
    }

    .left-content img {
      max-height: 100%;
      min-width: 100%;
      object-position: center;
    }

    header img {
      top: 12%;
      height: 80px;
      position: relative;
  }

    .men-content div {
      width: 48%;
      box-sizing: border-box;
      height: 300px;
      background-color: #F6F6F6;
      margin: 0.5%;
      margin-top: 10px;
    }

    .men-content img {
      max-height: 55%;
    }

    .men-content div h1 {
      font-size: 1.2rem;
    }
    
    .all-content-completed .top-content {
      background-color: white;
    }

    .top-content img {
      filter: none;
    }

    .all-content-about-us {
      flex-direction: column;
      height: 100vh;
    }

    .left-content-about-us {
      position: absolute;
      width: 100%;
      height: 30%;
    }

    .left-content-about-us img{
      width: 100%;
      object-fit: cover;
      object-position: center;
      max-height: 100%;
    }

    .text1, .text2 {
      display: none;
    }

    h1.media-header {
      display: inline-block;
      color: white;
      position: absolute;
      left: 20%;
      top: 20%;
      font-size: 3rem;
    }

    .right-content-about-us {
      width: 100%;
      height: 70%;
      position: relative;
      top: 30%;
    }

    .right-content-about-us h1 {
      display: none;
    }

    .right-content-about-us p {
      width: 90%;
      margin: 0;
      margin-top: 10%;
    }

    .all-content-contact {
      flex-direction: column;
      height: 100vh;
    }

    .left-content-contact {
      position: absolute;
      width: 100%;
      height: 30%;
    }

    .left-content-contact img{
      min-height: 100%;
    }

    h1.media-header {
      display: inline-block;
      color: white;
      position: absolute;
      left: 20%;
      top: 20%;
      font-size: 3rem;
    }

    .right-content-contact {
      width: 100%;
      height: 70%;
      position: relative;
      top: 30%;
    }

    .right-content-contact h1 {
      display: none;
    }

    .right-content-contact p {
      width: 90%;
      margin: 0;
      margin-top: 10%;
    }
  }

  @media screen and (max-width: 800px) and (min-width: 601px) {

    .men-content div {
      width: 32%;
    }

  }

  @media screen and (max-width: 1000px) {

    #hamburger-menu {
      position: relative;
      visibility: visible;
      width: 40px;
      height: 30px;
      top: -25px;
      left: 15px;
      display: block;
      border: none;
      background: linear-gradient(
        to bottom, 
        #0A3641, #0A3641 20%, 
        white 20%, white 40%, 
        #0A3641 40%, #0A3641 60%, 
        white 60%, white 80%, 
        #0A3641 80%, #0A3641 100%
      );
    }
  
    #hamburger-menu #sidebar-menu {
      visibility: hidden;
      position: fixed;
      top: 0;
      left: -250px;
      width: 100%;
      height: 100%;
      transition: 0.3s;
      background-color: #F6F6F6;
    }

    ul {
      text-align: center;
      margin-top: 100px;
      margin-left: -30px;
    }

    li {
      padding: 30px;
      font-size: 1.5rem;
    } 

    li a {
      text-decoration: none;
      color: #0A3641;
    }

    #sidebar-menu ul li {
      list-style: none;
    }

    #sidebar-menu img {
      top: 10%;
      margin-bottom: 10%;
    }

    #hamburger-input:checked + #hamburger-menu #sidebar-menu {
      visibility: visible;
      display: inline-block;
      left: 0;
      z-index: 5;
    }

    #hamburger-input:checked ~ .overlay{
      visibility: visible;
      opacity: 0.4;
    }

    .header-left {
      visibility: hidden;
    }

    .text1, .text2 {
      visibility: hidden;
    }

    .all-content-product {
      flex-direction: column;
    }

    .all-content-product div {
      width: 100%;
      height: 400px;
    }

    .left-content-product img {
      max-height: 100%;
    }

    .right-content-product h3, h4, p, h1 {
      position: relative;
      top: 0;
      color:#0A3641;
      width: 100%;
    }
    
    .right-content-product h1 {
      font-size: 1.8rem;
    }
    
    .right-content-product .price {
      font-size: 1.8rem;
      color: #D10000;
    }
    
    .right-content-product .product-description {
      width: 100%;
    }

    select {
      width: 92%;
    }
    
    .add-to-cart-btn {
      width: 92%;
    }

    .all-content-checkout {
      flex-direction: column;
    }

    .all-content-checkout div {
      width: 100%;
      margin: 0;
      height: 400px;
      text-align: center;
    }

    .all-content-checkout div img {
      max-height: 100%;
    }

    .left-content-checkout .product-info, .sum-header {
      display: none;
    }

    .right-content-checkout{
      display: none;
    }

    .media-text {
      display: block;
      margin-top: 0;
      background-color: #F6F6F6;
    }

    .media-text h4 {
      font-size: 1.2rem;
    }

    .media-text .product-name {
      font-size: 1.4rem;
    }

    .media-text .price {
      color: #D10000;
    }

    .continue-shopping-btn {
      width: 80%;
      margin-top: 20%;
    }

  }