* {
  font-family: 'Roboto', sans-serif;
}

.body {
    margin: 0;
    height: 100%;
}

.header {
    position: relative;
    background-color: white;
    border-bottom: 2px solid #0A3641;; 
    height: 120px;
    width: 100%;
}

.header img {
    margin-top: 10px;
    height: 100px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header-left {
    float: left;
    position: absolute;
    margin-top: 70px;
    margin-left: 2%;
  }

.header-left a {
    color: black;
    text-align: center;
    padding: 30px;;
    text-decoration: none;
    font-size: 30px;
    border-radius: 4px;
    color: #0A3641;
}
  
  .header-left a:hover {
    color: #255967;
  }
  
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  

.all-content {
    display: flex;
    flex-direction: row;
}

.left-content {
    height: 505px;
    width: 50%;
    background-color: black; 
}

.left-content img {
    width: 813px;
    height: 1219px;
    max-height:100%; 
    max-width:100%;
    object-position: bottom;
    object-fit: cover;  
    opacity: 0.3; 
}

.left-content button {
    position: relative;
    bottom: 290px;
    display: block;
    margin: 0 auto;
    height: 80px;
    width: 250px;
    border: 3px solid #0A3641;
    background-color: white;
    color: #0A3641;
    font-size: 2rem;
}

.left-content button:hover {
  background-color: rgba(255, 255, 255, 0.872);
  cursor: pointer;
}

.right-content {
    height: 505px;
    width: 50%;
    background-color: black; 
}

.right-content img{
    width: 1376px;
    height: 917px;
    max-height:100%; 
    max-width:100%;
    object-position: right bottom;
    object-fit: cover;   
    opacity: 0.3;  
}

.right-content button {
  position: relative;
  bottom: 290px;
  display: block;
  margin: 0 auto;
  height: 80px;
  width: 250px;
  border: 3px solid #0A3641;
  background-color: white;
  color: #0A3641;
  font-size: 2rem;
}

.right-content button:hover {
  background-color: rgba(255, 255, 255, 0.872);
  cursor: pointer;
}

.all-content a {
  text-decoration: none;
}

.category {
  height: 40px;
  width: 100%;
  border-bottom: 2px solid #0A3641;
  text-decoration: none;
  text-align: center;
}

.category button {
  width: 100px;
  height: 100%;
  background-color: white;
  border: none;
  font-size: 1.2rem;
}

.category button:hover {
  background-color: #0A3641;
  color: white;
  cursor: pointer;
}

.men-content {
  display: flex;
  flex-wrap: wrap;
}

.men-content div {
  width: 24%;
  box-sizing: border-box;
  height: 380px;
  background-color: #F6F6F6;
  margin: 0.5%;
  margin-top: 10px;
}

.men-content div img{
  height: 250px;
  background-color: #F6F6F6;
  margin-top: 10px;
}

.men-content div h3, h4, p {
  margin: 10px;
}

.men-content div h4 {
  color: #D10000;
  font-size: 1.2rem;
}

.men-content a {
  text-decoration: none;
}

.page-header {
  height: 30px;
  width: 100%;
  border-bottom: 2px solid #0A3641;
  text-align: center;
}

.page-header p {
  height: 100%;
  color: #0A3641;
  font-size: 1.2rem;
}

.all-content-product {
  display: flex;
  flex-direction: row;
}

.all-content-product div {
  width: 50%;
  height: 100vh;
}

.left-content-product img {
  height: 90%;
  position: relative;
  background-color: #F6F6F6;
  top: 5%;
}

.right-content-product h3, h4, p {
  position: relative;
  top: 3%;
  color:#0A3641;
}

.right-content-product h4 {
  font-size: 1.8rem;
}

.right-content-product .price {
  font-size: 1.8rem;
  color: #D10000;
}

.right-content-product .product-description {
  font-size: 1.2rem;
  width: 70%;
  margin-top: 5%;
}

input, ul.submenu {
  display: none;
  text-align: center;
  list-style: none;
}

label {
  position: relative;
  display: block;
  cursor: pointer;
  width: 450px;
  border: 2px solid #0A3641;
  top: 10%;
  left: 10px;
  padding: 12px;
  color: #0A3641;
  font-size: 1rem;
}

input:checked~ul.submenu {
  display: block;
  border: 2px solid #0A3641;
  width: 434px;
  background-color: #F6F6F6;
  margin-left: 10px;
  margin-top: 63px;
}

li a {
  text-decoration: none;
  color: #0A3641;
  padding-top: 10px;
}

li {
  width: 400px;
  padding: 10px;
}

.add-to-cart-btn {
  width: 480px;
  margin-left: 10px;
  padding: 12px;
  background-color: #0A3641;
  color: white;
  top: 15%;
  position: relative;
  font-size: 1.2rem;
  cursor: pointer;
}

.all-content-checkout {
  display: flex;
  flex-direction: row;
}

.left-content-checkout {
  width: 60%;
  height: 300px;
  background-color: #F6F6F6;
  margin: 30px;
}

.right-content-checkout {
  background-color: #F6F6F6;
  height: 300px;
  margin: 30px;
  width: 40%;
}

.left-content-checkout img {
  height: 90%;
  position: relative;
  top: 5%;
  left: 5%;
}

.left-content-checkout div {
  position: relative;
  top: 5%;
  float: right;
  width: 400px;
}

.left-content-checkout .price {
  color: #D10000;
  font-size: 1.2rem;
  margin-top: 60px;
}

.left-content-checkout .product-name {
  font-size: 1.2rem;
}

.sum-header {
  font-size: 1.5rem;
  text-align: center;
}

.right-content-checkout p {
  font-size: 1.3rem;
}

.right-content-checkout .left {
  float: left;
  margin-left: 10px;
}

.right-content-checkout .right {
  float: right;
  margin-right: 10px;
}

.checkout-btn {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 12px;
  background-color: #0A3641;
  color: white;
  top: 6%;
  position: relative;
  font-size: 1.2rem;
  cursor: pointer;
}

.top-content {
  height: 200px;
  background-color: #0A3641;
}

.top-content img {
  height: 150px;
  filter: brightness(0) invert(1);
  position: relative;
  top: 25px;
}

.bottom-content {
  text-align: center;
  margin-top: 40px;
}

.bottom-content h2{
  font-size: 1.8rem;
}

.bottom-content p{
  font-size: 1.3rem;
  margin-top: 10px;
}

.continue-shopping-btn {
  width: 30%;
  padding: 12px;
  margin-top: 20px;
  background-color: #0A3641;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.all-content-about-us {
  display: flex;
  flex-direction: row;
  position: relative;
}

.left-content-about-us {
  width: 35%;
  height: 100vh;
  background-color: black;
}

.left-content-about-us img {
  max-height:100%; 
  min-width:100%;
  opacity: 0.3;
  object-fit: cover;
}

.left-content-about-us h1{
  position: absolute;
  top: 8%;
  left: 5%;
  color: white;
}

.text2 {
  margin-left: 50px;
  margin-top: 50px;
}

.right-content-about-us {
  background-color: #F6F6F6;
  height: 100vh;
  width: 65%;
  text-align: center;
  color: #0A3641;
}

.right-content-about-us h1 {
  position: relative;
  top: 5%;
}

.right-content-about-us p{
  margin: 15%;
  text-align: center;
  padding: 20px;
  letter-spacing: 2px;
  font-size: 1.5rem;
}

/**/

.all-content-contact {
  display: flex;
  flex-direction: row;
  position: relative;
}

.left-content-contact {
  width: 35%;
  height: 100vh;
  background-color: black;
}

.right-content-contact {
  background-color: #F6F6F6;
  height: 100vh;
  width: 65%;
  text-align: center;
  color: #0A3641;
}

.right-content-contact h1 {
  position: relative;
  top: 5%;
}

.right-content-contact p {
  margin: 15%;
  text-align: center;
  padding: 20px;
  letter-spacing: 2px;
  font-size: 1.5rem;
}

.left-content-contact img {
  min-height:100%; 
  max-width: 100%;
  opacity: 0.3;
  object-fit: cover;
  object-position: center;
}

  
  @media screen and (max-width: 600px) {

    .men-content {
      flex-direction: column;
    }
  }